<header class="text-bg-dark text-light text-center">Bienvenidos a HANBDLEBARS</header>
<h2 class="text-center fs-3" >| Motores De Plantillas |</h2>
<p class="text-bg-primary text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus pariatur magnam rerum illum quaerat hic non ipsam voluptatum facilis in vel modi voluptates ut, architecto blanditiis aliquam earum assumenda praesentium!</p>
<hr>
<a href="segunda">Ir a segunda</a>