<h3 class="fs-4 text-center" style="padding:10px">Description</h3>
<hr>
<article>
    <p class="text-bg-dark" style="padding:50px">
        <span>YO - </span>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur, rem a. Quae rerum repudiandae sunt omnis porro, illum commodi facilis fugiat tempora quam! Debitis dolore mollitia aspernatur animi! Tempora, similique.
        Debitis consequuntur quod maiores odit non nihil voluptatibus, consequatur at, eum sapiente hic reiciendis ducimus aut quaerat cum qui, cumque iusto perspiciatis animi autem maxime! Dolor maxime sed quos tempora?
        Delectus itaque minima quae officiis pariatur ab dolores. Necessitatibus, nesciunt aspernatur sapiente odio autem minima beatae ex eos inventore dolore reprehenderit veniam laborum quibusdam odit, illum velit totam, sunt dolor.
        Illo corporis, quaerat enim quos vitae neque obcaecati quibusdam, officiis suscipit earum distinctio, amet numquam quasi sunt impedit laborum minima! Neque totam consequuntur, in ullam quae dolorem accusantium eius harum?
        Quaerat asperiores assumenda recusandae, eum molestias placeat consectetur nostrum nam commodi excepturi voluptate! Repellendus magni delectus nihil deleniti quos corporis aperiam sequi distinctio perferendis porro alias animi, ipsa et vitae.
        Ex iste officiis beatae repudiandae quam voluptatem voluptatibus molestiae eveniet quos possimus obcaecati impedit adipisci fuga reiciendis architecto natus quasi asperiores aperiam labore ullam, non quibusdam vero voluptates? Totam, sunt?
        Voluptas, sunt dolores obcaecati excepturi debitis iusto vel animi distinctio facere iste dolorem quod deserunt porro impedit! Ex labore, beatae iusto mollitia eligendi quia non quisquam laboriosam soluta, ullam maiores?
        Accusamus natus dolor omnis sed quo, voluptate illum nobis incidunt eos debitis harum non mollitia eligendi corporis quas perspiciatis ullam, fugiat quos eum. Sapiente est quaerat esse quam assumenda omnis.
        Nulla, consequatur placeat eligendi sint ipsam cum fugit. Nemo eligendi id quasi praesentium maxime? Laborum, sequi alias quo voluptate voluptatibus dolores aperiam repellendus ut? Dolorem, voluptatibus! Ipsam voluptatum perferendis nihil!
        Dignissimos odit impedit quaerat maxime iure fuga praesentium deserunt culpa. Reprehenderit voluptas sint fugiat voluptatum tenetur facilis asperiores debitis illum corrupti earum, quam numquam id ea dolorem natus neque doloremque. <br>
        Después tu
    </p>
</article>
<hr>
<a href="primera">Volver a primera</a>