<h1>Login</h1>
<form action="/users" method="post">
Email: <input type="email" name="email" id="emailuser" placeholder="Email" required="">
Password: <input type="password" name="password" id="password" placeholder="Password" required="">
<br>
<input type="submit" value="LOGIN">
</form>