<h1>Login</h1>
<form action="/users" method="post">
Username: <input type="text" name="username" id="username" placeholder="Username" required="">
Password: <input type="password" name="password" id="password" placeholder="Password" required="">
<br>
<input type="submit" value="LOGIN">
</form>