<h1>SIGNUP</h1>
<form action="/users/signup" method="post">
FirstName: <input type="text" name="first_name" id="first_name" required="">
LastName: <input type="text" name="last_name" id="last_name" required="">
Email: <input type="email" name="email" id="email" required="">
Password: <input type="password" name="password" id="password" required="">
<br>
<input type="submit" value="SIGNUP">
</form>
<h2>SIGNUP WITH GITHUB</h2>
<button onclick="location.h ref='/users/signUpGithub'" >GITHUB</button>