<h2>Socket Client</h2>

<form id="form">
    Message: <input type="text" name="message" id="message">
    <input type="submit" value="SEND">
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>         