<h2 class="animate__animated animate__fadeInLeftBig" style="text-align: center;">SOCKET CLIENT</h2>

<form id="formulario" class="animate__animated animate__fadeInUp" style="text-align: center;"> Message: <br>
    <input type="text" name="message" id="message">
    <br>
    <input type="submit" value="SEND" style="background-color: limegreen;">
</form>
<hr>

<div class="animate__animated animate__fadeInUp" style="padding: 20px; background-color: cadetblue">
    <p style="margin:50px">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium accusantium enim quidem omnis nemo earum est necessitatibus iste ipsam, iure cum incidunt maxime illum ea dolores non cumque aliquid rerum.
    Mollitia blanditiis eveniet repellat natus, ipsum reprehenderit beatae assumenda voluptatibus, laborum, facere magni minus earum! Asperiores dicta minus ducimus! Minus quasi laboriosam voluptatem ea corporis soluta fuga debitis distinctio labore!
    Quod molestias quos tenetur nesciunt aliquid, quia culpa est enim adipisci inventore beatae illum dolorum excepturi quae, exercitationem eius placeat non! Recusandae magni doloribus sapiente libero amet ipsa pariatur deleniti!
    Cumque minima tempora mollitia velit excepturi animi sint neque odio sapiente dolor necessitatibus quae assumenda obcaecati accusamus architecto, magnam corrupti voluptatibus maxime consequatur, impedit aliquid dolores itaque! Libero, ullam odit.
    Placeat accusantium hic, expedita obcaecati veritatis cum sunt magni, vel ea iure ex quam ipsum necessitatibus explicabo porro nam amet laboriosam quod ullam. Natus voluptate accusamus ad debitis quisquam quos.
    Id nesciunt expedita non ea hic dignissimos! Quos, voluptates repellat blanditiis fugit vitae suscipit deserunt similique perferendis libero beatae atque sit, tenetur id consequatur! Quia nam autem rerum vero culpa!
    Autem corporis cupiditate voluptas repudiandae, ut porro hic officia similique saepe quidem veniam quis, vitae ipsa eaque error. Ea reprehenderit assumenda vitae, excepturi similique culpa harum perspiciatis praesentium? Delectus, vero.
    Non doloribus nobis velit at ratione sequi soluta perferendis, ad iste quidem? Numquam ipsa atque molestiae provident corporis optio amet, voluptates voluptatibus qui magnam fugit incidunt, commodi cum expedita! Iste?
    A, recusandae sed, porro hic tenetur et consectetur dolorum itaque voluptates, necessitatibus odit doloribus temporibus consequatur! Voluptas beatae laboriosam recusandae. Voluptatem fugiat quam rerum recusandae omnis nesciunt alias aliquam laboriosam.
    Dolorum, adipisci rem! Repellendus at laborum, error dolorem iusto temporibus quis in, accusantium sunt vero, cumque officia asperiores ipsum fugit voluptatem sint vitae nulla perspiciatis rerum unde hic? Explicabo, facilis?</p>
</div>

<hr>

<script src='/socket.io/socket.io.js'></script>
<script src='js/index.js'></script>