<h2>SOCKET CLIENT</h2>

<form id="formulario"> Message: <br>
    <input type="text" name="message" id="message">
    <br>
    <input type="submit" value="SEND">
</form>


<script src='/socket.io/socket.io.js'></script>
<script src='js/index.js'></script>