 <h4 id="usuario"></h4>

<form id="formulario">
    <input type="text" name="mensaje" id="mensaje" placeholder="text">
    <input type="submit" value="ENVIAR">
</form>

<div id="chat"></div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>